Source: ecdaa
Section: admin
Priority: optional
Maintainer: Zane Beckwith <zane.beckwith@xaptum.com>
Build-Depends: debhelper (>= 10), cmake (>= 3.0.2)
Standards-Version: 3.9.8
Homepage: https://github.com/xaptum/ecdaa

Package: libecdaa1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Elliptic-curve-based Direct Anonymous Attestation signatures
 .
 This package contains the library.  

Package: libecdaa-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libecdaa1 (= ${binary:Version}), libamcl-dev (>= 4.7)
Description: Elliptic-curve-based Direct Anonymous Attestation signatures
 .
 This package contains the development files.

Package: libecdaa-tpm1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Elliptic-curve-based Direct Anonymous Attestation signatures, with support for a TPM2.0
 .
 This package contains the library.  

Package: libecdaa-tpm-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libecdaa-tpm1 (= ${binary:Version}), libecdaa-dev (= ${binary:Version}), libtss2-dev (>= 2.1)
Description: Elliptic-curve-based Direct Anonymous Attestation signatures, with support for a TPM2.0
 .
 This package contains the development files.
